<!-- 继承基础模板 -->
{extend name="public/base"}

<!-- 子模板中的区块会覆盖基础模板中的同名区块 -->
{block name="left"}{/block}
{block name="main"}
	<div class="col-md-8">
	
		<div class="panel panel-success">
			<div class="panel-heading">
				<h3 class="panel-title">
				添加博客
				</h3>
			</div>
			<div class="panel-body">
				<form action="{:url('blog/update')}" method="post">
			<div class="form-group">
				<input type="hidden" name="id" id="id" value="{$u.id}" />
				<lable class="control-lable">标题</lable>
				<input type="text" name="title" class="form-control" value="{$u.title}" />
				<span class="help-block">长度不超过255</span>
			</div>
			<div class="form-group">
				<lable class="control-lable">内容</lable>
			<!--	<input type="password" name="pass" class="form-control" value="" />-->
			<textarea name="content"  class="form-control" rows="10" cols="30">{$u.content}</textarea>
				<span class="help-block"></span>
			</div>
			
			<div class="form-group">
				<input type="submit" name="" id="" value="提交" />
				<input type="reset" name="" id="" value="重置" />
			</div>
		</form>
			</div>
			<div class="panel-footer">
				
			</div>
		</div>

	</div>
{/block}
{block name="right"}
	<div class="col-md-4">
		
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">最热文章</h3>
			</div>
			<div class="panel-body">
				<ul class="list-group">
				{volist name="hotest" id="vo"}
				<li class="list-group-item">
					<a href="#">{$vo.title|mb_substr=0,12}</a>
					<span class="badge">{$vo.view}</span>
				</li>
				{/volist}
				</ul>
			</div>
		</div>
		
		<div class="panel panel-danger">
			<div class="panel-heading">
				<h3 class="panel-title">最新文章</h3>
			</div>
			<div class="panel-body">
				<ul class="list-group">
				{volist name="newest" id="new"}
				<li class="list-group-item">
					<a href="#">{$new.title|mb_substr=0,15}</a>
				</li>
				{/volist}
				</ul>
			</div>
		</div>
	</div>
{/block}
