<!-- 继承基础模板 -->
{extend name="public/base"}

<!-- 子模板中的区块会覆盖基础模板中的同名区块 -->
{block name="left"}{/block}
{block name="main"}
	<div class="col-md-8">
		{volist name="list" id="vo"}	
		<div class="panel panel-success">
			<div class="panel-heading">
				<h3 class="panel-title">
				<a href="{:url('blog/view', ['id'=>$vo.id])}">{$vo.title}</a>
				</h3>
			</div>
			<div class="panel-body">
				{$vo.content|mb_substr=0,200}
				{if condition="!empty($vo['img'])"}
				<img class="img-responsive" src="__STATIC__/upload/{$vo.img}"/>
				{/if}
			</div>
			<div class="panel-footer">
				创建时间：{$vo.created}
			</div>
		</div>
		{/volist}
		{$list->render()}
	</div>
{/block}
{block name="right"}
	<div class="col-md-4">
		
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">最热文章</h3>
			</div>
			<div class="panel-body">
				<ul class="list-group">
				{volist name="hotest" id="vo"}
				<li class="list-group-item">
					<a href="#">{$vo.title|mb_substr=0,12}</a>
					<span class="badge">{$vo.view}</span>
				</li>
				{/volist}
				</ul>
			</div>
		</div>
		
		<div class="panel panel-danger">
			<div class="panel-heading">
				<h3 class="panel-title">最新文章</h3>
			</div>
			<div class="panel-body">
				<ul class="list-group">
				{volist name="newest" id="new"}
				<li class="list-group-item">
					<a href="#">{$new.title|mb_substr=0,15}</a>
				</li>
				{/volist}
				</ul>
			</div>
		</div>
	</div>
{/block}
