<footer class="footer">
	<div class="container">
		<div class="row footer-top">
			<!-- 使用栅格系统 -->
			<div class="col-sm-6 col-md-6 col-lg-6">
				<h3>站点介绍</h3>
				<p>ThinkPHP 是一个免费开源的，快速、简单的面向对象的 轻量级PHP开发框架 ，创立于2006年初，遵循Apache2开源协议发布，是为了敏捷WEB应用开发和简化企业应用开发而诞生的。ThinkPHP从诞生以来一直秉承简洁实用的设计原则，在保持出色的性能和至简的代码的同时，也注重易用性。并且拥有众多的原创功能和特性，在社区团队的积极参与下，在易用性、扩展性和性能方面不断优化和改进，已经成长为国内最领先和最具影响力的WEB应用开发框架，众多的典型案例确保可以稳定用于商业以及门户级的开发。</p>
			</div>
			<div class="col-sm-6 col-md-6 col-lg-6">
				<div class="row">
					<div class="col-sm-4 col-md-4">
						<h3>我们</h3>
						<ul class="list-unstyled">
							<li>菜单名称1</li>
							<li>菜单名称2</li>
							<li>菜单名称3</li>
							<li>菜单名称4</li>
						</ul>
					</div>
					<div class="col-sm-4 col-md-4">
						<h3>我们</h3>
						<ul class="list-unstyled">
							<li>菜单名称1</li>
							<li>菜单名称2</li>
							<li>菜单名称3</li>
							<li>菜单名称4</li>
						</ul>
					</div>
					<div class="col-sm-4 col-md-4">
						<h3>我们</h3>
						<ul class="list-unstyled">
							<li>菜单名称1</li>
							<li>菜单名称2</li>
							<li>菜单名称3</li>
							<li>菜单名称4</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row footer-bottom">
			<ul class="list-inline text-center">
				<li>备案号: 京-12345678</li>
				<li>达内技术支持-PSD1710</li>
			</ul>
		</div>
	</div>
	</footer>
